<div class="descargar">
  <button [disabled]="!puedeDescargar" (click)="descargarPdf()" class="btn btn-link">Descargar Formato Queja<img src="assets/images/pdf.svg" /></button>
</div>
<div class="formulariopq contendor-app">
  <div class="formulario-diligenciable pqr-quejap1">
    <div class="fila-1">
  		<input type="text" maxlength="63" id="campociudad" autosize [class.listo]="enlistpdf"  class="form-campo" />
  	  	<tooltip-content #numerofecha [animation]="true" placement="'top'">  
  	      <b>Señor Usuario este campo es numérico por favor verificar</b>
  	    </tooltip-content> 
  	    <input type="number" min="1" [tooltip]="numerofecha" min="1" max="31" id="campodia" autosize [class.listo]="enlistpdf"  />
  	    <input type="number" min="1" [tooltip]="numerofecha" min="1" max="12" id="campomes" autosize [class.listo]="enlistpdf"  />
  	    <input type="number" min="1" [tooltip]="numerofecha" min="2016" max="2999" id="campoanio" autosize [class.listo]="enlistpdf"  />
    </div>
    <div class="fila-2">
    		<input type="radio" id="campotipoqueja" name="recursoreposicion" value="si">
    </div>
    <div class="fila-3">
    		<tooltip-content #numerotel [animation]="true" placement="'top'">  
  	      <b>Señor Usuario este campo es numérico por favor verificar</b>
  	    </tooltip-content> 
  	    <input type="number" min="1" maxlength="27" [tooltip]="numerotel" id="camponumtel" autosize [class.listo]="enlistpdf"  />
    </div>
    <div class="fila-4">
  	    <input type="text" maxlength="90" id="camponombrepr" autosize [class.listo]="enlistpdf"  class="form-campo" />
    </div>
    <div class="fila-5">
  	    <input type="text" id="campoapellidopr" maxlength="105" autosize [class.listo]="enlistpdf"  class="form-campo" />
    </div>
    <div class="fila-6">
    		<input type="radio" id="campotipocc" name="tipodocumento" value="cc">
      	<input type="radio" id="campotipoce" name="tipodocumento" value="ce">
      	<input type="radio" id="campotiponit" name="tipodocumento" value="nt">
      	<input type="radio" id="campotipopas" name="tipodocumento" value="pa">
    </div>
    <div class="fila-7">
  	    <tooltip-content #numerodoc [animation]="true" placement="'top'">  
  	      <b>Señor Usuario este campo es numérico por favor verificar</b>
  	    </tooltip-content> 
  	    <input type="number" maxlength="27" [tooltip]="numerodoc" id="camponumdoc" autosize [class.listo]="enlistpdf"  />
    </div>
    <div class="fila-8">
    		<input type="radio" id="campotipocorreo" name="medioderecibo" value="correo_electronico">
      	<input type="radio" id="campotipodireccionf" name="medioderecibo" value="direccion_fisica">
    </div>
    <div class="fila-9">
    		<input type="text" id="campodircorreo" maxlength="70" autosize [class.listo]="enlistpdf"  class="form-campo" />
    		<input type="text" id="campodirfisica" maxlength="74" autosize [class.listo]="enlistpdf"  class="form-campo" />
    </div>
    <div class="fila-10">
    		<tooltip-content #numerotelc [animation]="true" placement="'top'">  
  	      <b>Señor Usuario este campo es numérico por favor verificar</b>
  	    </tooltip-content> 
    		<input type="number" min="1" maxlength="20" [tooltip]="numerotelc"  id="campoteloficina" autosize [class.listo]="enlistpdf"  class="form-campo" />
    		<input type="number" min="1" maxlength="20" [tooltip]="numerotelc"  id="campotelcasa" autosize [class.listo]="enlistpdf"  class="form-campo" />
    		<input type="number" min="1" maxlength="20" [tooltip]="numerotelc"  id="campotelcel" autosize [class.listo]="enlistpdf"  class="form-campo" />
    </div>
    <div class="fila-11">
     		<input type="text" maxlength="154" id="objetoqueja" autosize [class.listo]="enlistpdf"  class="form-campo" />
    </div>
    <div class="fila-12">
    		<textarea limit [class.listo]="enlistpdf"  id="hechosqueja" rows="4" maxlength="727"></textarea>
    </div>
    <div class="fila-13">
    		<input type="text" maxlength="154" id="pruebasqueja" autosize [class.listo]="enlistpdf"  class="form-campo" />
    </div>
    <div class="fila-14">
    		<input type="radio" id="campoautorizosi" name="autorizado" value="si">
      	<input type="radio" id="campoautorizono" name="autorizado" value="no">
    </div>
    <div class="fila-15">
     		<input type="text" maxlength="60" id="nombreautor" autosize [class.listo]="enlistpdf"  class="form-campo" />
     		<tooltip-content #numerocc [animation]="true" placement="'top'">  
  	      <b>Señor Usuario este campo es numérico por favor verificar</b>
  	    </tooltip-content> 
    		<input type="number" min="1" maxlength="40" [tooltip]="numerocc"  id="campoccautor" autosize [class.listo]="enlistpdf"  class="form-campo" />
    </div>
  </div>
  <div class="formulario-diligenciable pqr-quejap2 page-break"></div>
</div>