.formulario-diligenciable{
    width: 1270px;
    height: 1990px;
    input, textarea{
        border: 2px solid #3ad216;
    }
    &.listo{
        input, textarea{
            border: 0;
        }
    }
}