<div class="formulario-diligenciable modificacion-servicios">
  <div class="fila-1">
    <tooltip-content #nrosolicitud [animation]="true" placement="'top'">  
      <b>Señor usuario el número de la solicitud lo puede encontrar en la parte  superior de la factura</b>
    </tooltip-content> 
    <input type="number" [tooltip]="nrosolicitud" class="campo" autosize />
  </div>
  <div class="fila-2">
    <tooltip-content #oficina [animation]="true" placement="'top'">  
      <b>Señor usuario el número de la solicitud lo puede encontrar en la parte  superior de la factura</b>
    </tooltip-content> 

    <input type="number" [tooltip]="nrosolicitud" class="campo" autosize class="form-campo" />
  </div> 
</div>